html,
body {
  font-family: Jost, Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

  max-width: 100%;
}

h1 {
  color: #333;
  font-weight: 400;
  font-size: 3.75rem;
  line-height: 1.1;
  text-rendering: optimizeLegibility;
  margin: 0.45em 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 1.875em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

li p {
  font-size: 26.25px;
  line-height: 36.75px;
}

li a {
  font-size: 1rem;
  line-height: 1.5;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  display: inline-block;
  margin: 0;
  padding: 0.35em 1.5em;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  background: #eee;
  color: #000;
}

li .primary {
  color: #fff !important;
  background: blue;
}
