<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />

        <title>Ableton Live API Documentation</title>
        <link rel="stylesheet" type="text/css" href="styles.css" />
    </head>
    <body>
        <main>
            <h1>Available Versions</h1>
            <p>
                Unofficial documentation for the Ableton Live API for use in
                Remote Scripts and Max for Live devices. Press "Documentation"
                to navigate to the corresponding version of Ableton Live. Press
                "Module" to download a stubbed version of the LiveAPI module for
                use in your own projects.
            </p>
            <ul>
                {% for version in versions %}
                <li>
                    <h3>{{version}}</h3>
                    <span>
                        <a
                            href="https://github.com/isfopo/LiveAPI_MakeDoc/releases/download/{{version}}/{{version}}.zip"
                        >
                            Module
                        </a>
                        <a href="${{version}}/Live.xml" class="primary">
                            Documentation
                        </a>
                    </span>
                </li>
                {% endfor %}
            </ul>
        </main>
    </body>
</html>
