Root {
  font-family: Jost, Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

  position: relative;
  max-width: 1200px;
  margin: 0;
  padding: 4vw;
  padding-bottom: 0;
  background-color: #fff;
}

Live {
  margin: 0;
  padding-right: 0;

  @media (min-width: 768px) {
    padding-right: 16vw;
  }
}

Header {
  font-size: 3.75rem;
}

Module,
Class,
Sub-Class {
  display: block;
  font-size: 1.25rem;
  font-webkit: 600;
  margin: 0.5rem 0;
  width: 100%;
  border-bottom: 2px solid #eee;
}

Description {
  display: inline;
  margin-left: 5px;
  color: #000000;
  font-family: Jost, Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

  font-style: italic;
  font-weight: normal;
  font-size: 9pt;
}

Doc {
  display: block;
  color: #408080;
  margin-left: 20pt;
  font-family: Jost, Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

  font-style: italic;
  font-weight: normal;
  font-size: 9pt;
}
Method {
  display: block;
  margin-top: 10px;
  color: #000080;
}
Built-In {
  display: block;
  font-size: 1rem;
  margin-top: 10px;
  color: #081798;
}
Property {
  display: block;
  margin-top: 10px;
  color: #0000af;
}
Value {
  display: block;
  margin-top: 10px;
  color: #1c5a8d;
}
